header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-bottom: 1px solid #ddd;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}

ul li {
  margin-right: 5px;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}

.header-logo {
  justify-content: center;
  height: 150px; /* Adjust the height as needed */
  border-radius: 5px;
  /*margin: 0 20px; !* Adjust the margin as needed *!*/
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  margin-left: 100px;
}


/*ul li a {*/
/*  color: var(--text-color);*/
/*}*/

/*button {*/
/*  background: none;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*  color: var(--text-color);*/
/*}*/
